img {max-width: 100%;}
body {font-family: Arial, sans-serif;}
h1 {
    font-family: Arial, sans-serif;
    margin: 10px 0;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    color: red;
}
h2 {
    font-family: Arial, sans-serif;
    margin: 10px 0;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    color: blue;
}
h3 {
    font-family: Arial, sans-serif;
    margin: 10px 0;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    color: purple;
}
a { 
    text-decoration: underline;
    color: blue;
}
.SZprofile_pict {
    display: block;
    max-width: 400px;
    max-height: 600px;
    margin: 0 auto 30px;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: red;
}
.BZprofile_pict {
    display: block;
    max-width: 400px;
    margin: 0 auto 30px;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: blue;
}

.BZfootball {
    display: block;
    max-width: 400px;
    margin: 0 auto 30px;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: blue;
}
.JZprofile_pict {
    display: block;
    max-width: 400px;
    margin: 0 auto 30px;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: purple;
}
.JZsoftball {
    display: block;
    max-width: 400px;
    margin: 0 auto 30px;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: purple;
}
.div {float: left;
width: 300px;}
.pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}
